:root {
    --primary-color: #1329ba;
}

.navbar {
    padding: 0px 15px;
    background-color: var(--primary-color) !important;
}
.navbar a {
    color: #ffffff !important;
}

.task-list li {
    padding: 10px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
}

.task-list li.pending {
    border-left: 3px solid #d1200d;
}

.task-list li.completed {
    border-left: 3px solid #227d0b;
}

.task-status {
    border: 0;
    cursor: pointer;
}
.task-status.pending {
    background-color: #d1200d;
    color: #ffffff;
}
.task-status.completed {
    background-color: #227d0b;
    color: #ffffff;
}